
.site-header
{
	background-color :#1bbc9b;
	color:white;
	height: 100%;
	font-family:monospace;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}	

.site-header-content
{
	margin: 10px;
}

.Profile
{   

	border-radius: 50%;
	height: 200px;
	width: 200px ;
	align-self: center;
	box-shadow: #052e2c 2px 5px 5px;
}

body
{
    margin: 0;
}